{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>I am the DD</title> 



  <link rel="stylesheet" href="{% static 'dd_app/css/reset.css' %}"> <!-- CSS reset -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'dd_app/css/style.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


  
  
  <link rel="stylesheet" href="{% static 'dd_app/css/stretchmenu.css' %}"> <!-- Resource style -->
  <link rel="stylesheet" href="{% static 'dd_app/css/style.css' %}"> <!-- Resource style -->
  <link rel="stylesheet" href="{% static 'dd_app/css/buttons.css' %}"> <!-- Buttons style -->
  <link rel="stylesheet" href="{% static 'dd_app/css/main.css' %}"> <!-- Custom style -->
  <script src="{% static 'dd_app/js/modernizr.js' %}"></script> <!-- Modernizr -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="cd-section">
      <a class="cd-bouncy-nav-trigger" href="#0">Browse categories</a>
  </div> <!-- .cd-section -->

  <header>
  <div class="">i am the dd</div>
<!--
    <nav class="cd-stretchy-nav">
      <a class="cd-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
      </a>

      <ul class="cd-3d-nav">

        <li>
          <a class="icon-home"  href="{% url 'dd_app:index' %}">
            <div class="btn btn-default sharp">Home</div>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="icon-my-crews" href="{% url 'dd_app:mycrews' %}">
            <p class="btn btn-default sharp">My Crews</p>
          </a>
        </li>
        <li>
          <a class="icon-logout" href="{% url 'dd_app:logout' %}">
            <p class="btn btn-default">Logout</p>
          </a>
        </li>
        {% else %}
        <li>
          <a class="icon-login" href="{% url 'dd_app:login' %}">
            <p class="btn btn-default">Login</p>
          </a>
        </li>
        <li>
          <a class="icon-register" href="{% url 'dd_app:register' %}">
            <p class="btn btn-default">Register</p>
          </a>
        </li>
        {% endif %}
        <li>
          <a  class="icon-about" href="#">
            <p class="btn btn-default">About</p>
          </a>
        </li>
      </ul>

      <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>
    -->
  </header>

  

  <div class="row">
    {% block content %}{% endblock %} {# </main> in here #}
    

    <footer class="row text-center">
      This is the footer in base.html
    </footer>
  </div>


    <div class="cd-bouncy-nav-modal">
      <nav>
        <ul class="cd-bouncy-nav">
          <li><a class="icon-home" href="#0">Category 1</a></li>
          <li><a class="icon-my-crews" href="#0">Category 2</a></li>
          <li><a class="icon-logout" href="#0">Category 3</a></li>
          <li><a class="icon-login"href="#0">Category 4</a></li>
          <li><a href="#0">Category 5</a></li>
          <li><a href="#0">Category 6</a></li>
        </ul>
      </nav>
      
      <a href="#0" class="cd-close">Close modal</a>
    </div> <!-- cd-bouncy-nav-modal -->
  
  


    
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'dd_app/js/jquery-2.1.4.js' %}"></script>
  <script src="{% static 'dd_app/js/main.js' %}"></script>

  <script src="{% static 'dd_app/js/stretchmain.js' %}"></script> <!-- Resource jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>