{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>I am the DD</title> 



  <link rel="stylesheet" href="{% static 'dd_app/css/reset.css' %}"> <!-- CSS reset -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'dd_app/css/style.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'dd_app/js/jquery-2.1.4.js' %}"></script>
  <script src="{% static 'dd_app/js/main.js' %}"></script>

  <script src="{% static 'dd_app/js/stretchmain.js' %}"></script> <!-- Resource jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  
  <link rel="stylesheet" href="{% static 'dd_app/css/stretchmenu.css' %}"> <!-- Resource style -->
  <link rel="stylesheet" href="{% static 'dd_app/css/style.css' %}"> <!-- Resource style -->
  <link rel="stylesheet" href="{% static 'dd_app/css/buttons.css' %}"> <!-- Buttons style -->
  <link rel="stylesheet" href="{% static 'dd_app/css/main.css' %}"> <!-- Custom style -->
  <script src="{% static 'dd_app/js/modernizr.js' %}"></script> <!-- Modernizr -->

  

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <!-- Header -->
  <div class="row">
    <a  class="logo" href="{% url 'dd_app:index' %}">
    <div class="col-md-6">
      <span >IAMTHEDD</span>
    </div>
    </a>

    <div class="col-md-6 ">
      <a class="cd-bouncy-nav-trigger btn btn-lg nav-btn sharp" href="#">Menu <span class="glyphicon glyphicon-menu-hamburger" ></span></a>


    </div>
  </div>

  <!-- Messages -->
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
      {% endfor %}
  </ul>
  {% endif %}

  
    <div class="block-content">
    {% block content %}{% endblock %} {# </main> in here #}
    </div>
    <hr />
    <footer class="row text-center">
      &copy; 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script>, S. Malone.
    </footer>
  

    <!-- Navigation -->
    <div class="cd-bouncy-nav-modal">
      <nav>
        <ul class="cd-bouncy-nav">
          <li><a class="icon-home" href="{% url 'dd_app:index' %}">Home</a></li>
          {% if user.is_authenticated %}
          <li><a class="icon-my-crews" href="{% url 'dd_app:mycrews' %}">Crews/Stories</a></li>
          <li><a class="icon-templates" href="{% url 'dd_app:templates' %}">Templates</a></li>
          <li><a class="icon-logout" href="{% url 'dd_app:logout' %}">Logout</a></li>
          {% else %}
          <li><a class="icon-login" href="{% url 'dd_app:login' %}">Login</a></li>
          <li><a class="icon-register" href="{% url 'dd_app:register' %}" >Register</a></li>
          {% endif %}
          <li><a class="icon-about" href="#">About</a></li>
        </ul>
      </nav>
      
      <a href="#" class="cd-close">Close modal</a>
    </div> <!-- cd-bouncy-nav-modal -->
  
  


    
  
</body>
</html>
