{% extends "dd_app/base.html" %}

{% block content %}
<div class="row" >
	<div class="col-12-md text-center">
		<h1>I am the designated driver.</h1>
		<h4>Stories from the glorified adult babysitters.</h4>
		
	</div>
</div>
<div class="row" >
	<div class="col-md-12 text-center">
		<a href="{% url 'dd_app:mycrews' %}">
		<button class="btn btn-warning btn-start outline"> <span>Make a crew profile. </span><span>Pick the venue for your night out.</span><span> See what happens next.<span></button>
		</a>	
	</div>
</div>

</hr>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="text-center">What is "iamthedd"?</h3>
		<p> iamthedd is essentially a story generator that depicts a night out with friends. You are the designated driver, and while some of your friends might not have remembered everything from last night, you do. This this is your [disgruntled] recollection of the events that took place. All you have to do is add your friends to a crew, give each crew member a personality, select a venue, and submit to generate a unique story about your night out. </p>	
	</div>
</div>



{% endblock %}