{% extends "dd_app/base.html" %}

{% block content %}
<div class="row" >
	<div class="col-12-md text-center">
		<h1>I am the designated driver.</h1>
		<h4>Stories from the glorified adult babysitters.</h4>
		
	</div>
</div>
<div class="row" >
	<div class="col-md-12 text-center">
		<p class="btn btn-warning btn-start outline"> Make a crew profile. Pick the venue for your night out. See what happens next.</p>	
	</div>
</div>

</hr>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="text-center">What is "iamthedd"?</h3>
		<p> iamthedd is essentially a story generator that depicts a night out with friends. You are the designated driver and while some of your
		friend might not have rememebered everything from last night, you do, and this is your recollection.   
		Think of it as the classic "Mid-Libs" game with a twist. All you have to do is add your friends to a crew,
		set up a brief personality profile, define some event variables(venue, holiday, birthday, ect. ), 
		and submit you crew to generate a unique story about you night out.  </p>	
	</div>
</div>



{% endblock %}