{% extends "dd_app/base.html" %}

{% block content %}

{% if user %}
<div class="row">
	<h1 class="text-center">{{user.username}}'s crews</h1>
</div>
{% endif %}

<div class="row">
	<h1 class="text-center">My Crews</h1>
	<div class="col-md-8 col-md-offset-2">
	{% if crews %}
		{% for crew in crews %}
		<div class="col-xs-6 col-md-4">
		    <div href="{% url 'dd_app:crew' crew.id %}" class="thumbnail">
		    	<img class="img-responsive" src="http://placehold.it/250x250" alt="Crew picture here">
		    	<p class="text-center"> {{ crew.crew_name }}</p>	
		    	<div class="caption">	
		    		<a href="{% url 'dd_app:crew' crew_id=crew.id %}"><button class="btn sharp" title="Edit"><i class="glyphicon glyphicon-edit"></i></button></a>
		    		<a href="{% url 'dd_app:delete_crew' crew.id %}"><button class="btn sharp pull-right" title="Delete"><i class="glyphicon glyphicon-remove "></i></button></a>
		    	</div>
		   	</div>
		</div>
		{% endfor %}
	{% else %}
	 You have no crews at the momment
	{% endif %}
		<a href="{% url 'dd_app:create_crew' %}" title="Create New Crew">
			<div class="col-xs-6 col-md-4">
				<div  class="new-crew">
		    		<i class="glyphicon glyphicon-plus"></i>
		   		</div>
			</div>
		</a>
	</div>
</div>

<div class="row">
	<h1 class="text-center">My Stories</h1>
	<div class="col-md-8 col-md-offset-2">
	{% if stories %}
		{% for story in stories %}
		<div class="col-xs-6 col-md-3">
			<button class="btn btn-success outline">
				<a href="{% url 'dd_app:story' story.id %}">{{ story.story_name }}</a>
				<a href="{% url 'dd_app:story' story.id %}"><button class="btn sharp" title="Edit"><i class="glyphicon glyphicon-edit"></i></button></a>
				<a href="{% url 'dd_app:delete_story' story.id %}"><span class="btn sharp pull-right" title="Delete"><i class="glyphicon glyphicon-remove "></i></span></a>
			</button>
		</div>
		{% endfor %}
	{% else %}
	 You have no stories at the momment
	{% endif %}
	</div>
</div>


{{ request.session.testvar }}
{{ mycontext.testvar }}




{% endblock %}