{% extends "dd_app/base.html" %}

{% block content %}

<h1>This is the my crews page!</h1>

{% if user %}
	<p>hello {{user.username}} </p>
	<h3>Crew List</h3>
	{% if crews %}
		{% for crew in crews %}
			<a href="{% url 'dd_app:crew' crew.id %}">{{ crew.crew_name }}</a>
		{% endfor %}
	{% else %}
	 You have no crews at the momment
	{% endif %}

	<h3>Story List</h3>
	{% if stories %}
		{% for story in stories %}
		<a href="{% url 'dd_app:story' story.id %}">{{ story.story_name }}</a>
			
		{% endfor %}
	{% else %}
	 You have no stories at the momment
	{% endif %}


{% endif %}

{{ request.session.testvar }}
{{ mycontext.testvar }}

<h2><a href="{% url 'dd_app:create_crew' %}">Create Crew</a></h2>


<h2><a href="{% url 'dd_app:logout' %}">Logout</a></h2>

{% endblock %}