{% extends "dd_app/base.html" %}

{% block content %}

<h1>This is the story page!</h1>

{% if story %}

	<p>Story: {{ story.story_name }}</p>
	<p>crew: {{ story.crew }}</p>
	<p>creator: {{ story.creator }}</p>

	{% if context.substories %}
	SUBSTORIES
		{% for substory in substories %}
		<h3>{{ substory.member }}</h3>
		<p>{{ substory.content }}</p>
		{% endfor %}
	{% endif %}
	

{% endif %}

{% for substory in substories %}
<h3>{{ substory.member.name }}</h3>
<p>{{ substory.content }}</p>
{% endfor %}




{% endblock %}