
body,html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
}

a {
  color: black;
}

nav .btn-default {
  margin: 0px;
  background-color: #872C2C;
  border: 2px solid #872C2C;
  font-size: 14px;
  color: black;
  -webkit-text-stroke: 3px black;
}

.block-content {
  font-size: 3vmin;
  line-height: 1.4;
}

.center {
  text-align: center;
}

.center form {
  display: inline-block;
}

.basic-form form {
  color: #000;
  background: white;
  padding: 40px;
  margin: 10px;
  border-width: 10px;
  border-style: double;
  border-radius: 40px;
  text-align: left;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-weight: 1200;
  color: white;
  display: block;
  padding: 20px;
}

.logo:hover {
  color: orange;
}

.crew-page i:hover {
  color: #1E5755;
}

.crew-page a:hover {
  color: #FFF;
}


.btn{
  background-color: #1E5755;
}

.btn-start {
  font-weight: 700;
}
.btn:hover {
  color: white;
}

.nav-btn {
  float: right;
  background-color: #009999;
}

/* Bootstrap override */

.alert {
  font-size: 11px;
  padding: 4px;
}

.thumbnail {
  height: auto;
  width: 100%;
}

.new {
  display: block;
  height: 100px;
  width: 100%;
  background: transparent;
  border-style: solid;
  border-width: 5px;
  color: white;
}


.glyphicon-plus {
  display: block;
  text-align: center;
  top: 10px;
  font-size: 40px;
  margin: 0;
  height: 100%;
  width: 100%;

}

.thumb{
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  background-color: white;
}


.crew-thumb{
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  background-color: white;
}

.story-thumb {
  display: block;
  text-align: center;
}

.mycrews-icon {
  font-size: 30px;
}

.story > h3 {
  color: white;
}




/* icons */

.icon-home::before  {
  background: url(../img/home.svg)
}

.icon-login::before  {
  background: url(../img/login.svg)
}
.icon-logout::before  {
  background: url(../img/logout.svg)
}

.icon-register::before  {
  background: url(../img/register.svg)
}

.icon-about::before  {
  background: url(../img/about.svg)
}

.icon-my-crews::before  {
  background: url(../img/my-crews.svg)
}